<ion-header>
	<ion-navbar>
		<button ion-button menuToggle *ngIf="loggedIn">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'news.title' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<!--<ion-card *ngFor="let item of items" tappable (click)="showDetails(item)" >
		<ion-item text-wrap>-->
			<div class="img-wrapper" *ngFor="let item of items" >
				<img [src]="item.image_url" style="width:40%" *ngIf="item.image_url">
			</div>
	<!--	</ion-item>
	</ion-card>-->
</ion-content>